asgiref==3.7.2
coverage==7.3.2
crispy-bootstrap4==2023.1
defusedxml==0.7.1
diff-match-patch==20230430
Django==4.2.6
django-crispy-forms==2.1
django-import-export==3.3.1
djangorestframework==3.14.0
et-xmlfile==1.1.0
exceptiongroup==1.2.0
Faker==12.0.1
gunicorn==21.2.0
iniconfig==2.0.0
MarkupPy==1.14
mixer==7.2.2
odfpy==1.4.1
openpyxl==3.1.2
packaging==23.2
pluggy==1.3.0
psycopg2-binary==2.9.9
pytest==7.4.3
pytest-cov==4.1.0
pytest-django==4.7.0
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
six==1.16.0
sqlparse==0.4.4
tablib==3.5.0
tomli==2.0.1
typing_extensions==4.8.0
xlrd==2.0.1
xlwt==1.3.0
