{% extends "base.html" %} 

{% block content %}
    <h1>{{ title }}</h1>
    <p>
        Student advising is a process that helps students map out a plan for academic success and ensure their goals are met. During advising, the student becomes eligible to register using university’s online registration system, through a process called "greenlighting."
    </p>
    <h2>Scheduling an Appointment</h2>
    <b>To schedule an advising and greenlighting appointment with Advising Services, please call (xxx) xxx-xxxx.</b>
    <p>
        All undergraduate students must be advised and greenlighted every semester to be eligible for registration. Some programs recommend, and a few require, all their major students regardless of the number of hours completed to be pre-advised in the department before being greenlighted by Advising Services.
    </p>
    <ul>
        <li>Students with fewer than 30 hours, undecided majors, most BGS (Bachelor of General Studies) majors and most BAAS (Bachelor of Applied Arts and Sciences) majors must visit Advising Services.</li>  
        <li>Students with 30-45 hours may visit Advising Services or their major departments, as determined by departmental preference.</li>
        <li>Students with more than 45 hours visit their major departments.</li>
    </ul 
{% endblock %}