{% extends "base.html" %} 

{% block content %}
    <h1>{{ title }}</h1>
    {% for curriculum in curriculum_guide %}
        {% if curriculum.RowID == 1 %}
            <strong>Degree_FiscalYear: {{curriculum.DegreeID.DegreeName}} {{curriculum.FiscalYear}}</strong>
        {% endif %}
        <ul>
             <li>YearNumber: {{ curriculum.YearNumber }} </li>
             <li>Semester: {{curriculum.Semester }} </li>
             <li>CourseInstruction:  {{curriculum.CourseInstruction }} </li>
             <li>Hrs: {{curriculum.Hrs }} </li>
        </ul>
    {% endfor %}
{% endblock %}